<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mawenzy.Plugins.Google_Plugs.Properties.GoogleSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Mawenzy.Plugins.Google_Plugs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Mawenzy.Plugins.Google.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Plugins.Google.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mawenzy.Plugins.Google_Plugs.Properties.GoogleSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Mawenzy.Plugins.Google_Plugs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Mawenzy.Plugins.Google.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mawenzy.Plugins.Google_Plugs.Properties.GoogleSettings>
            <setting name="CompressTextures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwapInterval" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="TempUnits" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="NewsURL" serializeAs="String">
                <value>http://news.google.com/?geo={REGION}</value>
            </setting>
            <setting name="AutoRefreshNews" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoogleID" serializeAs="String">
                <value />
            </setting>
            <setting name="GooglePW" serializeAs="String">
                <value />
            </setting>
            <setting name="CalendarStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleMarqueeSpeed" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CalendarURL" serializeAs="String">
                <value>http://www.google.com/calendar/feeds/default/private/full</value>
            </setting>
            <setting name="WeatherURL" serializeAs="String">
                <value>http://www.wunderground.com/cgi-bin/findweather/getForecast?query={REGION}&amp;wuSelect=WEATHER</value>
            </setting>
            <setting name="CalendarCamPos" serializeAs="String">
                <value>5,0,0,-1400,0</value>
            </setting>
        </Mawenzy.Plugins.Google_Plugs.Properties.GoogleSettings>
        <Mawenzy.Plugins.Google_Plugs.Properties.Settings>
            <setting name="CompressTextures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwapInterval" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="TempUnits" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="NewsURL" serializeAs="String">
                <value>http://news.google.com/?geo={REGION}</value>
            </setting>
            <setting name="AutoRefreshNews" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoogleID" serializeAs="String">
                <value />
            </setting>
            <setting name="GooglePW" serializeAs="String">
                <value />
            </setting>
            <setting name="CalendarStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleMarqueeSpeed" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CalendarURL" serializeAs="String">
                <value>http://www.google.com/calendar/feeds/default/private/full</value>
            </setting>
            <setting name="WeatherURL" serializeAs="String">
                <value>http://www.wunderground.com/cgi-bin/findweather/getForecast?query={REGION}&amp;wuSelect=WEATHER</value>
            </setting>
        </Mawenzy.Plugins.Google_Plugs.Properties.Settings>
        <Mawenzy.Plugins.Google.Properties.Settings>
            <setting name="CompressTextures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwapInterval" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="TempUnits" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="NewsURL" serializeAs="String">
                <value>http://news.google.com/?geo={REGION}</value>
            </setting>
            <setting name="AutoRefreshNews" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoogleID" serializeAs="String">
                <value />
            </setting>
            <setting name="GooglePW" serializeAs="String">
                <value />
            </setting>
            <setting name="CalendarStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleMarqueeSpeed" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CalendarURL" serializeAs="String">
                <value>http://www.google.com/calendar/feeds/default/private/full</value>
            </setting>
            <setting name="WeatherURL" serializeAs="String">
                <value>http://www.wunderground.com/cgi-bin/findweather/getForecast?query={REGION}&amp;wuSelect=WEATHER</value>
            </setting>
        </Mawenzy.Plugins.Google.Properties.Settings>
        <Plugins.Google.Properties.Settings>
            <setting name="CompressTextures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>news URL format</value>
            </setting>
            <setting name="SwapInterval" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="TempUnits" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="NewsURL" serializeAs="String">
                <value>http://news.google.com/?geo={REGION}</value>
            </setting>
            <setting name="AutoRefreshNews" serializeAs="String">
                <value>False</value>
            </setting>
        </Plugins.Google.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <Mawenzy.Plugins.Google_Plugs.Properties.GoogleSettings>
            <setting name="WeatherImagePath" serializeAs="String">
                <value>http://img0.gmodules.com/</value>
            </setting>
            <setting name="GoogleWeatherURL" serializeAs="String">
                <value>http://www.google.com/ig/api?weather={0}</value>
            </setting>
        </Mawenzy.Plugins.Google_Plugs.Properties.GoogleSettings>
        <Mawenzy.Plugins.Google_Plugs.Properties.Settings>
            <setting name="WeatherImagePath" serializeAs="String">
                <value>http://img0.gmodules.com/ig</value>
            </setting>
            <setting name="GoogleWeatherURL" serializeAs="String">
                <value>http://www.google.com/ig/api?weather=</value>
            </setting>
        </Mawenzy.Plugins.Google_Plugs.Properties.Settings>
        <Mawenzy.Plugins.Google.Properties.Settings>
            <setting name="WeatherImagePath" serializeAs="String">
                <value>http://img0.gmodules.com/ig</value>
            </setting>
        </Mawenzy.Plugins.Google.Properties.Settings>
    </applicationSettings>
</configuration>
